<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">
          <a href="https://stripe.com/docs/ach">Seed Commons Test Payments Platform</a>
        </p>
      </div>
    </div>
  </div>
</footer>
